<% tweets.each do |tweet| %>
  <div class="py-2">
    <div class="card">
      <div class="card-header">
        <%= link_to user_path(tweet.user.screen_name) do %>
          <%= image_tag user_image_path(tweet.user), size: '45x45', class: %w[rounded-circle] %>
          <%= tweet.user.name %>
          <span class="text-muted"><%= screen_name_with_at(tweet.user.screen_name) %></span>
        <% end %>
      </div>
      <div class="card-body">
        <%= tweet.text %>
      </div>
      <div class="card-footer">
        <%= link_to tweet_url(tweet) do %>
          <%= tweet.created_at %>
        <% end %>
        <% if current_user == tweet.user %>
          <span class="float-right">
            <%= link_to tweet_url(tweet), method: :delete, title: t('.delete') do %>
              <i class="fas fa-trash"></i>
            <% end %>
          </span>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
