<% tweets.each do |tweet| %>
  <% if tweet.retweet_tweet %>
    <% retweeted_tweet = tweet %>
    <% tweet = tweet.retweet_tweet %>
  <% else %>
    <% retweeted_tweet = nil %>
  <% end %>
  <div class="py-2">
    <div class="card">
      <% if retweeted_tweet %>
        <div class="card-header">
          <%= t('.user_retweet_html', user: user_link(retweeted_tweet.user)) %>
        </div>
      <% end %>
      <div class="card-header">
        <%= link_to user_path(tweet.user.screen_name) do %>
          <%= image_tag user_image_path(tweet.user), size: '45x45', class: %w[rounded-circle] %>
          <%= tweet.user.name %>
          <span class="text-muted"><%= screen_name_with_at(tweet.user.screen_name) %></span>
        <% end %>
        <div class="float-right">
          <% if current_user == tweet.user %>
            <div class="dropdown dropup">
              <span data-toggle="dropdown"><i class="fas fa-ellipsis-h"></i></span>
              <div class="dropdown-menu dropdown-menu-right">
                <%= link_to tweet_url(tweet), method: :delete, class: 'dropdown-item' do %>
                  <i class="fas fa-trash fa-fw"></i><%= t('.delete') %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="card-body">
        <%= tweet.text %>
      </div>
      <div class="card-footer">
        <%= link_to tweet_url(retweeted_tweet ? retweeted_tweet : tweet) do %>
          <%= tweet.created_at %>
        <% end %>
        <span class="float-right">
          <% if (tweet.retweets.map { |retweet| retweet.user }).include?(current_user) %>
            <i class="fas fa-retweet fa-fw" style="color: #17bf63"></i>
          <% else %>
            <%= link_to retweet_tweet_path(tweet), title: t('.retweet') do %>
              <i class="fas fa-retweet fa-fw" style="color: #5b7083"></i>
            <% end %>
          <% end %>
          <% if (tweet.likes.map { |like| like.user }).include?(current_user) %>
            <%= link_to like_url(tweet), method: :delete, title: t('.unlike') do %>
                <i class="fas fa-heart fa-fw" style="color: #e0245e"></i>
            <% end %>
          <% else %>
            <%= link_to likes_url(id: tweet.id), method: :post, title: t('.like') do %>
                <i class="fas fa-heart fa-fw" style="color: #5b7083"></i>
            <% end %>
          <% end %>
        </span>
      </div>
    </div>
  </div>
<% end %>
