<table>
  <thead>
    <tr>
      <th><%= Tweet.human_attribute_name(:id) %></th>
      <th><%= Tweet.human_attribute_name(:created_at) %></th>
      <th><%= Tweet.human_attribute_name(:text) %></th>
      <th><%= User.model_name.human %></th>
      <th><%= t('.delete') %></th>
    </tr>
  </thead>
  <tbody>
    <% tweets.each do |tweet| %>
      <tr>
        <td><%= link_to tweet.id, tweet_url(tweet) %></td>
        <td><%= tweet.created_at %></td>
        <td><%= tweet.text %></td>
        <td><%= user_link(tweet.user) %></td>
        <% if current_user == tweet.user %>
          <td><%= link_to t('.delete'), tweet_url(tweet), method: :delete %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
