<%= form_with(model: @tweet, local: true) do |form| %>
  <% if @tweet.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('errors.template.header', count: @tweet.errors.count, model: @tweet.model_name.human) %>:</h2>
      <ul>
        <% @tweet.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :text %><br>
    <%= form.text_area :text, size: '50x15' %>
  </div>

  <div class="actions">
    <%= form.submit t('.tweet') %>
  </div>
<% end %>
