<table>
  <thead>
    <tr>
      <th><%= User.human_attribute_name(:name) %></th>
      <th><%= User.human_attribute_name(:screen_name) %></th>
      <th><%= User.human_attribute_name(:image) %></th>
      <th><%= User.human_attribute_name(:profile) %></th>
      <th><%= t('.tweet_count') %></th>
      <th><%= t('.follow_count') %></th>
      <th><%= t('.follower_count') %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.screen_name %></td>
      <td><%= image_tag user_image_path(user), size: '100x100' %></td>
      <td><%== user.profile%></td>
      <td><%= user.tweets.size %></td>
      <td>
        <% if (followings_size = user.followings.size) > 0 %>
          <%= link_to followings_size, following_path(user.screen_name) %>
        <% else %>
          <%= followings_size %>
        <% end %>
      </td>
      <td>
        <% if (followers_size = user.followers.size) > 0 %>
          <%= link_to followers_size, followers_path(user.screen_name) %>
        <% else %>
          <%= followers_size %>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>
