<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
    <title>Twitter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- 上部ナビゲーションバー -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="<%= root_path %>">
        <%= image_tag 'favicon.ico', size: '30x30' %>
        Twitter
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-main">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- ナビゲーションバーの中身 -->
      <div class="collapse navbar-collapse" id="nav-main">
        <ul class="navbar-nav mr-auto">
          <!-- ナビゲーションバーのアイテムを書いていく -->
          <li class="nav-item <%= 'active' if controller.controller_name == 'home' or request.path == home_path %>">
            <%= link_to t('application.home'), root_path, class: 'nav-link' %>
          </li>
          <!-- 開発モードの場合のみメーラーのリンク表示 -->
          <% if Rails.env.development? %>
            <li class="nav-item">
              <%= link_to 'Mail(Dev)', letter_opener_web_path, target: :_blank, class: 'nav-link' %>
            </li>
          <% end %>
        </ul>
        <ul class="navbar-nav">
          <!-- ナビゲーションバーの右側 -->
          <% if current_user %>
            <li class="nav-item <%= 'active' if controller.controller_name == 'users' %>">
              <%= link_to user_path(current_user), class: 'nav-link' do %>
                <%= image_tag user_image_path(current_user), size: '25x25', class: %w[rounded-circle] %>
                <%= current_user.name %>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link', title: t('application.logout') do %>
                <i class="fas fa-sign-out-alt"></i>
              <% end %>
            </li>
          <% else %>
            <li class="nav-item <%= 'active' if controller.controller_name == 'registrations' %>">
              <%= link_to t('application.register'), new_user_registration_path, class: 'nav-link' %>
            </li>
            <li class="nav-item <%= 'active' if controller.controller_name == 'sessions' %>">
              <%= link_to t('application.login'), new_user_session_path, class: 'nav-link' %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>

    <!-- flash表示 -->
    <% if notice %>
      <div class="container p-3">
        <div class="alert alert-info" role="alert"><%= notice %></div>
      </div>
    <% end %>
    <% if alert %>
      <div class="container <%= 'p-3' unless notice %>">
        <div class="alert alert-danger" role="alert"><%= alert %></div>
      </div>
    <% end %>

    <!-- 各viewの内容を表示する -->
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
