<!DOCTYPE html>
<html>
  <head>
    <title>Twitter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert"><%= alert %></p>
    <% end %>

    <% if current_user %>
      <%= link_to current_user.email, edit_user_registration_path %> |
      <%= link_to t('logout'), destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to t('register'), new_user_registration_path %> |
      <%= link_to t('login'), new_user_session_path %>
    <% end %>

    <%= yield %>
  </body>
</html>
